// 对playcount进行格式化
function formatCount(count){
count=Number(count)
if(count>100000000){
  // toFixed四舍五入到小数点后一位，将数字转化为字符串
 return (count/100000000).toFixed(1)+"亿"
}else if(count>=10000){
  return (count/10000).toFixed(1)+"万"
}else{
  return count
}
}

// 2 -> 02
// 24 -> 24
function padLeft(time) {
  time = time + ""
  return ("00" + time).slice(time.length)
}
// 对time进行格式化
// 100-->01:40
 function formatTime(time){
  //  服务器传过来的数字是毫秒
   time=time/1000
  // 1.获取时间
var minute=Math.floor(time/60)
var second=Math.floor(time)%60
  // 2.拼接字符串
  // 位数不够，在左边自动补0
  return padLeft(minute)+":"+padLeft(second)
}

module.exports={
  formatTime:formatTime,
  formatCount:formatCount,
  padLeft:padLeft
}